.selected-site h2 {
    font-size: 18px;
    margin: 8px 0;
}
.selected-site__header {
    font-size: 22px;
    text-align: center;
    margin-top: 35px;
}
.selected-site__header .icon {
    vertical-align: middle;
}
.selected-site__header__remove {
    float: right;
    cursor: pointer;
}
.selected-site__header__remove:hover {
    color: #ff9891;
}
.selected-site__header a {
    text-align: left;
    color: #77bbff;
    display: block;
    margin: 15px;
    text-decoration: none;
}

.selected-site__history,
.selected-site__toolbar {
    width: calc(100% - 40px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 8px;
    text-align: left;
    margin: 16px 10px;
    display: inline-block;
}
.selected-site__toolbar .toolbar {
    background: black;
    padding: 5px;
}

.history-list {
    display: inline-table;
    width: 100%;
}

.history-list__row {
    display: table-row;
    line-height: 20px;
    font-size: 14px;
}

.history-list__row > a,
.history-list__row > span {
    display: table-cell;
}
.history-list__row > a {
    color: #fff;
}
.history-list__row > a:hover {
    color: #77bbff;
}
.history-list__row > span:nth-last-of-type(1) {
    cursor: pointer;
}
.history-list__row > span:nth-last-of-type(1):hover {
    color: #ff9891;
}

.toolbar {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.toolbar a {
    color: #fff;
    display: inline-block;
    max-width: calc(20% - 1em);
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}